################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FI.WebAtividadeEntrevista/FileContentIndex/c5b34a1b-8759-49c5-a702-f3759807a468.vsidx
